// BUTTONS 
.btn {
    border: 2px solid $primary-color;
    background-color: transparent;
    color: $primary-color;
    border-radius: 0.5rem;
    font-size: 1em;
    padding: 1rem 2rem;
    transition: all 0.2s;
    &:hover {
        background-color: $primary-color;
        color: $primary-color-text;
    }
}
.btn-inverse {
    border: 2px solid $primary-color;
    background-color: $primary-color;
    color: $primary-color-text;
    border-radius: 0;
    font-size: 1em;
    padding: 1rem 2rem;
    transition: all 0.2s;
    &:hover {
        color: $primary-color;
        background-color: transparent;
    }
}